<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="term"
                 (ionInput)="getItems($event)"
                 [debounce]="400">
  </ion-searchbar>
  <ion-list>
    <ion-list *ngFor="let item of items"
         class="apps-list flex"
     (click)="goToApp(item)">
      <div class="flex flex-column left-column">
        <div class="rating flex">
          <span *ngFor="let s of [1,2,3,4,5]">
            <ion-icon name="{{getStarType(s,item.averageUserRating)}}"></ion-icon>
          </span>
        </div>
        <div class="img" [ngStyle]="{'background-image': 'url(' + item.artworkUrl512 + ')'}"></div>
        <div>{{item.formattedPrice}}</div>

        <div></div>
      </div>
      <div class="flex flex-column right-column">
        <div class="title"><b>{{item.trackName}}</b> <br> <i>{{item.artistName}}</i></div>
        <div class="description">{{item.description}}</div>

        <div><i>{{item.genres.join(', ')}}</i></div>
        <div class="info">
          <span>v<b>{{item.version}}</b></span>
          <span>{{(item.fileSizeBytes / 1024 / 1024).toFixed(1)}}Mb</span>
          <span>{{getDateFormatted(item.currentVersionReleaseDate)}}</span>
        </div>

      </div>

    </ion-list>
  </ion-list>
</ion-content>
